@using GidaGkpWeb.Infrastructure.Authentication;
@using GidaGkpWeb.Models;

@{
    ViewBag.Title = "Applicant Upload Transaction Information";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";

    var UserData = ViewData["ApplicationData"] as List<ApplicationDetailModel>;
    int index = 1;
}
<link href="~/styles/style.css" rel="stylesheet" />
<section class="form">
    <!-- MultiStep Form -->
    <div class="container-fluid" id="grad1" style="min-height:350px">
        <div class="container">
            @if (UserData != null && UserData.Count > 0)
            {
                <div class="row justify-content-center mt-0" style="padding:30px 20px" id="divExitingPlotRegistration">
                    <div class="col-sm-12 col-xs-12">
                        <h2 style="padding:20px 0;">Upload Chalan for Applied Application</h2>
                        <table class="table table-bordered responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Application Number</th>
                                    <th>Applicant Name</th>
                                    <th>Scheme Type</th>
                                    <th>Scheme Name</th>
                                    <th>Sector Type</th>
                                    <th>Plot Area(In Square Meter)</th>
                                    <th>Payable Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in UserData)
                                {
                                    <tr>
                                        <th row-header="Table heading" scope="row">@index</th>
                                        <td row-header="Table">@data.ApplicationNumber</td>
                                        <td row-header="Table heading">@data.FullApplicantName</td>
                                        <td row-header="heading">@data.SchemeType</td>
                                        <td row-header="Table heading">@data.SchemeName</td>
                                        <td row-header="Table heading">@data.SectorName</td>
                                        <td row-header="Table heading">@data.PlotArea</td>
                                        <td row-header="heading">@data.NetAmount</td>
                                        <td row-header="Table heading">
                                            <a class="previous action-button-previous pull-right" href="/Applicant/ApplicantUploadTransactionInDetail?applicationId=@data.ApplicationId">Enter Payment Information</a>
                                        </td>
                                    </tr>
                                    index++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }

        </div>
    </div>
</section>


<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav li.active').removeClass('active');
        $('[href="/Applicant/ApplicantUploadTransactionDetail"]').parent().addClass('active')
    });
</script>