@using GidaGkpWeb.Infrastructure.Authentication;
@using GidaGkpWeb.Models.Masters;
@{
    ViewBag.Title = "PaymentResp";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
    var UserData = ViewData["UserData"] as ApplicationDetailModel;
}


<link href="~/styles/style.css" rel="stylesheet" />
<section class="form">
    <!-- MultiStep Form -->
    <div class="container-fluid" id="grad1">

        <div class="container">
            <div class="row justify-content-center mt-0" style="padding:30px 20px">
                <div class="col-sm-12 col-xs-12">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                        <div class="col-sm-12 col-xs-12">

                            <center><h2><strong>View Application Status</strong></h2></center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mx-0">
                    <form method="post" name="redirect" action="https://secure.ccavenue.com/transaction.do?command=initiateTransaction">
                        <!--<div class="form-group col-sm-12 col-xs-12">
                            <label for="usertype" class="text-uppercase">Application Number</label>
                            <label for="usertype" class="text-uppercase">@Convert.ToString(Session["AmountToBePaid"])</label>
                            <input type="hidden" id="encRequest" name="encRequest" value="@Convert.ToString(Session["strEncRequest"])" />
                            <input type="hidden" name="access_code" id="Hidden1" value="@Convert.ToString(Session["strAccessCode"])" />
                        </div>
                        <div class="form-group col-sm-12 col-xs-12">
                            <label for="usertype" class="text-uppercase">Net Payble Total Amount (In Rs.)</label>
                            <label for="usertype" class="text-uppercase">@Convert.ToString(Session["AmountToBePaid"])</label>
                            <input type="hidden" id="encRequest" name="encRequest" value="@Convert.ToString(Session["strEncRequest"])" />
                            <input type="hidden" name="access_code" id="Hidden1" value="@Convert.ToString(Session["strAccessCode"])" />
                        </div>-->
                        <hr />
                        <div class="col-sm-6 col-xs-12" style="padding-left:20px">
                            <center><input type="submit" name="next" id="Step6NextButton" class="btn btn-primary pull-right" value="Print Payment Reciept" /></center>
                            
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <center><input type="submit" name="next" id="Step6NextButton" class="btn btn-primary pull-left" value="Print Acknowledgement Form" /></center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
	